body {
  margin: 0px 0px;

  font-family: 'Open Sans', sans-serif;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/OpenSans-Italic-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/OpenSans-Italic-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

#hero{
  background-color: blue;

  background-size: cover;
  position: relative;
  height: 100vh;
}

#hero img {
  height: 65%;
  position: absolute;
  right: 15%;
  bottom: 0px;
}

.header{
  margin-left: 15%;
  margin-right: 15%;

  font-weight: 300;
}

#name {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 6vmin;
  transform: translate(0,-50%);
}

.text {
  white-space: pre;

  z-index: 100;
}

.contact {
  font-size: 4vh;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact span {
  float: right;
}

#content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

  font-weight: 400;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 3.5vh;
  height: 90%;
}


/* From here has to be checked */

#content h1 {
  text-align: center;

  font-weight: 300;

  margin-top: 96px;
}

table th {
  text-align: left;
  font-weight: normal;
}

th {
  padding-top: 50px;
}

.firstTableRow th {
  padding-top: 0px;
}

.about {
  max-width: 40%;
}

.about a {
  text-decoration: none;
  color: blue;
}

.period {
  padding-right: 25px;
  white-space: nowrap;
}

.test {
  padding-right: 25px;
  white-space: nowrap;
}
