body {
  margin: 0px 0px;

  font-family: 'Open Sans', sans-serif;
}

#hero{
  background-color: blue;

  background-size: cover;
  position: relative;
  height: 100vh;
}

#hero img {
  height: 65%;
  position: absolute;
  right: 15%;
  bottom: 0px;
}

.header{
  margin-left: 15%;
  margin-right: 15%;

  font-weight: 300;
}

#name {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 6vmin;
  transform: translate(0,-50%);
}

.text {
  white-space: pre;

  z-index: 100;
}

.contact {
  font-size: 4vh;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact span {
  float: right;
}

#content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

  font-weight: 400;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 3.5vh;
  height: 90%;
}


/* From here has to be checked */

#content h1 {
  text-align: center;

  font-weight: 300;

  margin-top: 96px;
}

table th {
  text-align: left;
  font-weight: normal;
}

th {
  padding-top: 50px;
}

.firstTableRow th {
  padding-top: 0px;
}

.about {
  max-width: 40%;
}

.about a {
  text-decoration: none;
  color: blue;
}

.period {
  padding-right: 25px;
  white-space: nowrap;
}
